
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root{

    --font-family-primeira:"Playwrite MX Guides", cursive;
    --font-family-segunda:font-family: "Roboto", sans-serif;
    --font-size-titulos: 2rem;
    --font-size-menu: 1.8rem;
    --font-size-textos: 1.3rem;
     --font-weight: 400;
    --textos-espaco-linhas:line-height: 1.5;
    --textos-justificado:text-align: justify;
    --primeira-cor:#06113c;
    --segunda-cor:#FF8C32;
    --terceira-cor:#DDDDDD;

}

h2{

    color: var(--segunda-cor);
    font-size: var(--font-size-titulos);
}

p{

    font-size: var(--font-size-textos);
    font-family:var(--font-family-segunda);
    font-weight: var(--font-weight);
    line-height: 1.5;
    text-align: justify;
    padding: 20px 0px;
}

.container_geral{

    
    width: 100dvw;
    padding: 10px;

}

#cabecalho{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    background-color:var(--primeira-cor);
    padding: 10px 10px;
}


 #menu{

display: flex;
justify-content: center;
height: 60px;
padding: 10px;
gap: 10px;
}


#itens_menu{
width: 200px;
color:var(--segunda-cor);
font-size: 1.8rem;
padding: 0px 10px;
text-align: center;  
font-family: var(--font-size-titulos); 
cursor: pointer;
    
}

#itens_menu:hover{

    color: var(--terceira-cor);
    border-bottom: 2px solid rgb(236, 129, 5);
    padding: 10px 0px;
    cursor: pointer;
    
}

#titulo{

    padding: 10px;
   
}

h1{

    font-size: var(--font-size-titulos);
    color: var(--segunda-cor);
    

}

.conteudo_1{

    
    /*background-color: var(--segunda-cor);*/

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    
    gap: 10px;
}

#figura_1{

width: 45%;
display: flex;
justify-content: center;

}

#artigo_1{

width: 45%;
padding: 10px;

}
#artigo_2{

width: 45%;
padding: 10px;

}

#figura_2{

width: 45%;
display: flex;
justify-content: center;

}

.conteudo_2{

    
    /*background-color: var(--segunda-cor);*/

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;

    margin: 20px;
    
    gap: 10px;
}

#figura_continuidade{

width: 45%;

display: flex;
justify-content: center;

}
#img_continuidade{

width: 125%;


}
#artigo_continuidade{

width: 45%;
padding: 10px

 ;

}

#artigo_pregnancia{

width: 45%;
padding: 10px;

}

#figura_pregnancia{

width: 45%;  
display: flex;
justify-content: center;

}

#img_pregnancia{

width: 125%;

}




.conteudo_3{

    
    /*background-color: var(--segunda-cor);*/

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;

    margin: 20px;
    
    gap: 10px;
}


#figura_fechamento{

width: 45%;

display: flex;
justify-content: center;

}
#img_fechamento{

width: 125%;


}
#artigo_fechamento{

width: 45%;
padding: 10px

 

}

#artigo_unidade{

width: 45%;
padding: 10px;

}

#figura_unidade{

width: 45%;  
display: flex;
justify-content: center;

}

#img_unidade{

width: 125%;

}

@media(max-width: 600px)   {


#menu{

display: flex;
flex-flow: column;
background-color: #FF8C32;
height: 115px;
border-radius: 20px;
}

#itens_menu{
width: 150px;
color:var(--primeira-cor);
font-size: 1.3rem;
padding: 0px 10px;
text-align: center;  
font-family: var(--font-size-titulos); 
    
}

#itens_menu:hover{

    color: var(--terceira-cor);
    border-bottom: 2px solid rgb(236, 129, 5);
    background-color: #06113c;
    border-radius: 20px;
    

}


.conteudo_1{

display: flex;
flex-flow: column;

width: 200vw;

justify-content: center center;
align-items: center center;

}

#artigo_1{

height: 100%;
margin: 0px 0px 50px;
}
.conteudo_2{

display: flex;
flex-flow: column;

width: 200vw;

justify-content: center center;
align-items: center center;

}

#artigo_continuidade{


padding: 0px 20px 0px 10px;
}

#artigo_pregnancia{


padding: 0px 20px 0px 10px;
}



}



    /*display: grid;
    
    grid-template-columns: 600px;
    grid-template-rows: 300px 400px 400px 200px ;
    justify-content: center;
    justify-items: center;*/

    




